footer {
    padding: 4rem 6%;
    background-color: #2D2D2D;
}

footer .footer__copy p {
    color: #ffffff;
    text-align: center;
    font-family: 'Gotham', 'Roboto';
    font-style: normal;
    font-size: 16px;
}