div.project {
    max-width: 400px;
    margin: 1rem;
    padding: 30px;
    flex: 1 0 200px;
    background-color: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
}

div.project .project__info h1 {
    font-family: 'Gotham Black', 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #2d2d2d;
}

div.project .project__info h3 {
    font-family: 'Gotham', 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin: 15px 0;
    color: #484848;
}

div.project .project__info h6 {
    font-family: 'Gotham', 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #6d6d6d;
}

div.project .project__info a.projectLink {
    text-decoration: none;
}

div.project .project__info a.projectLink button {
    border: none;
    width: 100%;
    margin-top: 1rem;
    font-family: 'Gotham', 'Roboto';
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    padding: 10px;
    border-radius: 5px;
    border-color: rgba(27,31,35,.15);
    color: #6d6d6d;
    background-color: #fafbfc;
    box-shadow: 0 1px 0 rgba(27,31,35,.04), inset 0 1px 0 hsla(0,0%,100%,.25);
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
}